<section class="first-section">
  <section class="background-container">
    <form>
      <h1>Ask for a credit</h1>
      <label for="type">Type</label>
      <select name="type" id="type">
        <option value="one_installment">One Installment</option>
        <option value="multiple_installment">Multiple Installments</option>
      </select>

      <label for="amount">Amount (200 - 5000) BGN</label>
      <input type="number" name="amount" min="200" max="5000" />

      <label for="period">Period</label>
      <select name="period" id="period">
        <option value="one">1</option>
        <option value="three">3</option>
        <option value="six">6</option>
        <option value="nine">9</option>
        <option value="twelve">12</option>
      </select>
      <button>Submit</button>
    </form>
  </section>
</section>
