.background-container {
    flex: 1;
    background: hsla(0, 0%, 13%, 0.384);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .background-container > h1 {
    color: #fff;
    font-size: 50px;
  }

  .first-section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../../assets/images/background_home.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .first-section form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    width: 450px;
    padding: 30px;
    margin-top: 60px;
    border-radius: 5px;
  }

  .first-section form h1 {
  align-self: center;
  font-size: 26px;
  margin: 10px 0 15px;
}

.first-section form input,
.first-section form select{
  border: none;
  background: rgb(240, 240, 240);
  font-size: 16px;
  padding: 10px;
  resize: none;
}

.first-section form label{
  margin: 10px 0;
}

.first-section form button{
  margin-top: 22px;
  padding: 12px;
  border: none;
  background: #212121;
  color: #fff;
  font-size: 16px;
  border-radius: 3px;
}

.first-section form button:hover {
  cursor: pointer;
}