<section id="home">
  <section class="background-container">
    <h1>Welcome to My Credit App!</h1>
    <p class="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis lectus a
      risus ultrices vehicula eget id urna. Vivamus eros velit, pretium at justo
      sit amet, commodo feugiat leo. Etiam viverra consectetur mi quis
      ultricies. Quisque egestas neque venenatis sem vehicula molestie. Quisque
      aliquet eros vel mi sagittis semper.
    </p>
    <div class="auth-buttons">
      <a routerLink="/login">Login</a>
    </div>
  </section>
</section>
