#home {
    background: url("../../assets/images/background_home.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
  }
  
  .background-container {
    flex: 1;
    background: hsla(0, 0%, 13%, 0.384);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .background-container > h1 {
    color: #fff;
    font-size: 50px;
  }

  .description{
    font-size: 23px;
    color: whitesmoke;
    font-style: italic;
    margin: 0px 100px;
    text-align: center;
  }
  
  .background-container a {
    display: inline-block;
    color: #212121;
    text-decoration: none;
    background: #fff;
    padding: 10px 25px;
    font-size: 20px;
    margin: 50px 20px;
    transition: transform 0.3s;
    border-radius: 20px;
  }
  
  .background-container a:hover {
    transform: scale(1.1);
    background: #fff;
    color: rgb(255, 102, 0);
    padding: 10px 20px;
  }
  
  img {
    width: 25px;
    position: absolute;
    top: 10px;
    right: 25px;
  }
  
 
  @keyframes appear {
    from {
      opacity: 0;
    }
  }
  