<section class="credits-section">
  <h1 class="credits-section-heading">My Credits</h1>
  <table class="credits-section-table">
    <thead>
      <tr>
        <th>Due date</th>
        <th>Installment days</th>
        <th>Principal</th>
        <th>Credit status<br /></th>
      </tr>
    </thead>
    <tbody *ngFor="let credit of credits">
      <tr>
        <td>{{ credit.due_date }}</td>
        <td>{{ credit.installment_days }}</td>
        <td>{{ credit.principal }}</td>
        <td>{{ credit.credit_status_id }}</td>
      </tr>
    </tbody>
  </table>
</section>
