.credits-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.credits-section-heading{
    position: absolute;
    top: 135px;
}

.credits-section-table{
    position: absolute;
    top: 190px;
    border-collapse: collapse;
    width: 100%;
}

.credits-section-table td, .credits-section-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }

.credits-section-table tr:nth-child(even){background-color: #f2f2f2;}

.credits-section-table tr:hover {background-color: #ddd;}

.credits-section-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}